#interactiveChart5 {
      height: 80vmin;
     }

      .nv-focus .nv-barsWrap, /* top chart volume bars */
      .nv-focus .nv-y1 .tick text, /* top chart left y axis lines bars */
      .nv-focus .nv-y1 .nv-axisMaxMin text, /* top chart left y axis max/min values */
      .nv-focus .nv-y1 .domain, /* top chart left y axis bounding box */
      .nv-context .nv-x .nv-axisMaxMin text, /* bottom chart */
      .nv-context .nv-y2 .domain,
      .nv-context .nv-y2 .nv-axisMaxMin text,
      .nv-context .nv-y2 .tick text{
        text-anchor:start !important;
      }
      .nv-focus .nv-y1 .nv-axisMaxMin text,
      #interactiveChart5{
        text-anchor: start !important;
      }

    .nv-focus .nv-x .tick:first-of-type text,
      #interactiveChart5 text.nv-axislabel {
        text-anchor: start !important;
      }

      .nv-focus .nv-y2 .tick text,
      .nv-focus .nv-y2 .nv-axisMaxMin text,
      .nv-focus .nv-x .tick:last-of-type text,
      .nv-context .nv-y1 .tick text,
      .nv-context .nv-y1 .nv-axisMaxMin text {
        text-anchor: end !important;
      }

      #interactiveChart5 svg text {
        font-size: 3vmin !important;
      }

      #interactiveChart5 .nv-axis line /* interior grid */ {
        stroke-dasharray: 3,3;
        stroke: #ddd;
      }

      #interactiveChart5 .nv-axis path.domain /* both charts' bounding boxes */ {
        stroke-dasharray: 4,4;
        stroke-opacity: .5;
        stroke-width: 1px;
      }

      #interactiveChart5 .nv-focus .domain /* top chart bounding box color */ {
        stroke: #1e88e5;
      }

      #interactiveChart5 .nv-focus .nv-axislabel,
      #interactiveChart5 .nv-focus .nv-axisMaxMin text /* top chart label and max/min values colors */ {
        fill:#ff1a1a;
      }

      #interactiveChart5 .nv-context .domain /* bottom chart */ {
        stroke: #ff9800;
      }

      #interactiveChart5 .nv-context .nv-axislabel,
      #interactiveChart5 .nv-context .nv-axisMaxMin text {
        fill:#ff1a1a;
          text-anchor: start !important;
      }

      #interactiveChart5 .nv-focus .nv-y1 .tick text,
      #interactiveChart5 .nv-focus .nv-y2 .tick text,
      #interactiveChart5 .nv-context .nv-y1 .tick text /* both charts' y axis interior range values colors */ {
        fill: #000000;
      }

      #interactiveChart5 .nv-focus .nv-line /* top chart price line */ {
        stroke: #2196f3;
        stroke-width: 2px;
      }

      #interactiveChart5 .nv-context .nv-line /* bottom chart price line */ {
        stroke: #aaa;
        stroke-opacity: .75;
        stroke-width: 2px;
      }

      #interactiveChart5 .nv-line {
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      #interactiveChart5 .nv-barsWrap rect /* bottom chart volume bars */ {
        fill: #AEC7E8;
        /*fill-opacity: 0;*/
        shape-rendering: crispEdges;
      }

      #interactiveChart5 .nv-brushBackground rect /* context chart range scroller */ {
        shape-rendering: crispEdges;
        stroke-width: 1;
        stroke: #ccc;
      }
